# SonarQube Configuration

# Application Configuration
JWT_SECRET=dev
PORT=8090
TEST_SEEDERS_DIR=scripts/db/test_seeders
LOG_LEVEL=debug
APP_ENV=test

# Datadog Configuration
DD_API_KEY=api-key
DD_SITE=datadoghq.com
