# SonarQube Configuration
SONAR_URL=http://localhost:9000/
SONAR_TOKEN=sqp_5418a9608489c8b06292b90446ef43e221ec1ca6

# Application Configuration
JWT_SECRET=dev
DYNAMODB_TABLE=users
DYNAMODB_EMAIL_INDEX=email-index
AWS_REGION=us-east-1
PORT=8090
LOG_LEVEL=debug
APP_ENV=test

# Datadog Configuration
DD_API_KEY=api-key
DD_SITE=datadoghq.com
