# SonarQube Configuration
SONAR_JDBC_USERNAME=postgres
SONAR_JDBC_PASSWORD=postgres
SONAR_JDBC_URL=jdbc:postgresql://db:5432/sonarqube
SONAR_TOKEN=sqp_test

# Application Configuration
JWT_SECRET=dev
PORT=8090
TEST_SEEDERS_DIR=scripts/db/test_seeders
LOG_LEVEL=debug
APP_ENV=test

# Datadog Configuration
DD_API_KEY=api-key
DD_SITE=datadoghq.com